body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(177, 177, 172);
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.btn-shop-now {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}